---
import Layout from "@/layouts/Layout.astro";
import IntroEN from "@/components/EN/Intro-EN.astro";
import Services from "@/components/EN/Services.astro";
import Team from "@/components/EN/Team.astro";
import Gallery from "@/components/EN/Gallery.astro";
import Changes from "@/components/EN/Changes.astro";
import Opinions from "@/components/EN/Opinions.astro";
import FooterEN from "@/components/EN/Footer-EN.astro";
import NavBarEN from "@/components/EN/NavBar-EN.astro";
---

<Layout title="Dental Barcelo, Dentist in El Puerto de Santa María">
  <NavBarEN />
  <main>
    <IntroEN />
    <Services />
    <Team />
    <Gallery />
    <Changes />
    <Opinions />
    <FooterEN />
  </main>
</Layout>
