---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Servicios from "../components/Servicios.astro";
import Equipo from "../components/Equipo.astro";
import Galeria from "../components/Galeria.astro";
import Cambios from "../components/Cambios.astro";
import Opiniones from "../components/Opiniones.astro";
import Footer from "../components/Footer.astro";
import Header from "@/components/Header.astro";

---

<Layout title="Clínica Dental Barcelo, Dentista en El Puerto de Santa María">

  <Header />
  <main>
    <Intro />
    <Servicios />
    <Equipo />
    <Galeria />
    <Cambios />
    <Opiniones />
    <Footer />
  </main>
</Layout>
