---
import Layout from "../layouts/Layout.astro";
import NavBar from "../sections/NavBar.astro";
import Intro from "../sections/Intro.astro";
import Servicios from "../sections/Servicios.astro";
import Equipo from "../sections/Equipo.astro";
import FAQs from "../sections/FAQs.astro";
import Galeria from "../sections/Galeria.astro";
import Precios from "../sections/Precios.astro";
import Opiniones from "../sections/Opiniones.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Dental Barcelo">
  <NavBar />
  <main>
    <Intro />
    <Servicios />
    <Equipo />
    <FAQs />
    <Galeria />
    <Opiniones />
    <Precios />
    <Footer />
  </main>
</Layout>
