<section id="cambios" class="pt-28 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">
    Transforma tu sonrisa
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img loading="lazy"
        src="/SANDRA ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/SANDRA DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div>
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img loading="lazy"
        src="/URSUA ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/URSUA DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img loading="lazy"
        src="/IVAN ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/IVAN DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div>
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img loading="lazy"
        src="/PEPE ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/PEPE DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img loading="lazy"
        src="/TEJADA ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/TEJADA DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9] slider-container"
    >
      <img loading="lazy"
        src="/INF ANTES.webp"
        alt="Before"
        class="aspect-auto absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img loading="lazy"
          src="/INF DESPUES.webp"
          alt="After"
          class="aspect-auto absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Deslizador de comparación de imágenes"
      />
    </div>
  </div>
</section>

<style>
  #cambios {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }

  .slider-animation {
    animation: slideEffect 4s ease;
  }

  @keyframes slideEffect {
    0% {
      left: 0%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 50%;
    }
  }

  .handle-animation {
    animation: handleEffect 4s ease;
  }

  @keyframes handleEffect {
    0% {
      left: 0%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 50%;
    }
  }

  .divider-animation {
    animation: dividerEffect 4s ease;
  }

  @keyframes dividerEffect {
    0% {
      left: 0%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 50%;
    }
  }

  .after-image-animation {
    animation: imageEffect 4s ease;
  }

  @keyframes imageEffect {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    50% {
      clip-path: inset(0 0% 0 0);
    }
    100% {
      clip-path: inset(0 50% 0 0);
    }
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const sliders = entry.target.querySelectorAll(".slider");
          sliders.forEach((slider) => {
            const container = slider.parentElement;
            if (!container) return;

            const afterImage = container.querySelector(".after-image");
            const divider = container.querySelector(".divider");
            const handle = container.querySelector(".handle");

            if (!afterImage || !divider || !handle) return;

            slider.classList.add("slider-animation");
            afterImage.classList.add("after-image-animation");
            divider.classList.add("divider-animation");
            handle.classList.add("handle-animation");

            setTimeout(() => {
              slider.classList.remove("slider-animation");
              afterImage.classList.remove("after-image-animation");
              divider.classList.remove("divider-animation");
              handle.classList.remove("handle-animation");
            }, 4000);
          });
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  const changes = document.getElementById("cambios");
  if (changes) {
    observer.observe(changes);
  }

  document.querySelectorAll(".slider").forEach((slider) => {
    const container = slider.parentElement;
    if (!container) return;

    const afterImage = container.querySelector(".after-image");
    const divider = container.querySelector(".divider");
    const handle = container.querySelector(".handle");

    if (!afterImage || !divider || !handle) return;

    slider.addEventListener("input", (e) => {
      const value = (e.target as HTMLInputElement).value;
      afterImage.style.clipPath = `inset(0 ${100 - value}% 0 0)`;
      divider.style.left = `${value}%`;
      handle.style.left = `${value}%`;
    });

    slider.addEventListener("touchmove", (e) => {
      const touch = (e as TouchEvent).touches[0];
      const rect = slider.getBoundingClientRect();
      const value = Math.max(
        0,
        Math.min(100, ((touch.clientX - rect.left) / rect.width) * 100)
      );
      (slider as HTMLInputElement).value = value;
      afterImage.style.clipPath = `inset(0 ${100 - value}% 0 0)`;
      divider.style.left = `${value}%`;
      handle.style.left = `${value}%`;
    });
  });
</script>
