<section id="galeria" class="py-10">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">Galería</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1 ">
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image1.png" alt="sala de espera" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image2.png" alt="Image 1" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image3.png" alt="Image 1" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image4.png" alt="Image 1" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image5.jpg" alt="Image 1" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image6.jpg" alt="Image 1" />
    </div>
  </div>
</section>

  <style>
    .zoom {
      transition: all 0.5s ease;
    }

    .zoom:hover {
      transform: scale(1.2);
    }
  </style>
