<section id="galeria" class="pt-28 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">Galería</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image1.webp" decoding="async" loading="lazy" alt="sala de espera" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image2.webp" decoding="async" loading="lazy" alt="entrada" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image3.webp" decoding="async" loading="lazy" alt="gabinete" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image4.webp" decoding="async" loading="lazy" alt="oficina" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image5.webp" decoding="async" loading="lazy" alt="fachada" />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img class="zoom" src="/image6.webp" decoding="async" loading="lazy" alt="equipo de doctoras" />
    </div>
  </div>
</section>

<style>
  #galeria {
    @media (min-width: 1400px) {
    margin: 0% 10%
    }
  }
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.2);
  }
</style>
