<header class="sticky top-0 z-50 backdrop-blur-sm">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block" href="#">
          <span class="sr-only">Home</span>
          <img
            src="/logo.webp"
            class="h-10 pl-6 scale-85 md:scale-100 mx-auto"
            alt="logo de la clínica"
          />
        </a>
      </div>
      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-4 lg:gap-8 text-base text-[#2e211c]">
            <li>
              <a
                class="transition link--metis"
                href="/#inicio"
              >
                Inicio
              </a>
            </li>

            <li>
              <a class="transition link--metis" href="#servicios">
                Servicios
              </a>
            </li>

            <li>
              <a class="transition link--metis" href="#equipo">
                Equipo
              </a>
            </li>

            <li>
              <a class="transition link--metis" href="#galeria">
                Galería
              </a>
            </li>

            <li>
              <a class="transition link--metis" href="#cambios">
                Resultados
              </a>
            </li>

            <li>
              <a class="transition link--metis" href="#footer">
                Contacto
              </a>
            </li>
            <li class="relative">
              <button
                class="text-base leading-5 py-2 px-4 flex items-center space-x-2"
                id="language-menu-button"
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
                onclick="document.getElementById('language-menu').classList.toggle('hidden')"
              >
                🇪🇸 ▼
              </button>
              <div
                id="language-menu"
                class="absolute hidden bg-white shadow-lg mt-2 rounded-md"
              >
                <a
                  href="/en"
                  class="block px-4 py-2 text-primary hover:bg-gray-200">🇬🇧</a
                >
              </div>
            </li>
          </ul>
        </nav>

        <div class="block md:hidden">
          <button
            class="rounded p-2 text-gray-600 transition hover:text-gray-600/75"
            onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
          <div
            id="mobile-menu"
            class="absolute right-0 bg-white mt-2 w-48 shadow-lg rounded-md hidden"
          >
            <ul
              class="flex flex-col items-start gap-4 text-base text-[#2e211c] p-4"
            >
              <li>
                <a class="transition link--metis" href="/#inicio">
                  Inicio
                </a>
              </li>
              <li>
                <a class="transition link--metis" href="#servicios">
                  Servicios
                </a>
              </li>
              <li>
                <a class="transition link--metis" href="#equipo">
                  Equipo
                </a>
              </li>
              <li>
                <a class="transition link--metis" href="#galeria">
                  Galería
                </a>
              </li>
              <li>
                <a class="transition link--metis" href="#cambios">
                  Resultados
                </a>
              </li>
              <li>
                <a class="transition link--metis" href="#footer">
                  Contacto
                </a>
              </li>
              <li class="relative ">
                <button
                  class="text-base leading-5 py-2 px-4 flex items-center space-x-2"
                  id="language-menu-button-mobile"
                  type="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  onclick="document.getElementById('language-menu-mobile').classList.toggle('hidden')"
                >
                  🇪🇸 ▼
                </button>
                <div
                  id="language-menu-mobile"
                  class="absolute hidden bg-white shadow-lg mt-2 rounded-md"
                >
                  <a
                    href="/en"
                    class="block px-4 py-2 text-primary hover:bg-gray-200">🇬🇧</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  .link--metis {
    position: relative;
    padding-bottom: 2px; /* Adjust to create space for the underline */
  }
  .link--metis::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .link--metis:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
</style>
