<section
  id="inicio"
  class="flex flex-col justify-center items-center sm:pt-28 animate-blurred-fade-in"
>
  <h1
    class="px-2 pt-1 mb-6 font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl text-primary"
  >
    Tu clínica de confianza.
  </h1>
  <h2 id="address" class="font-medium text-sm sm:text-xl pb-6 text-gray-600">
    <a
      class="hover:underline"
      href="https://www.google.es/maps/place/Dental+Barcelo/@36.5929242,-6.2408471,17z/data=!3m1!4b1!4m6!3m5!1s0xd0dd16a9f2901f3:0xfb198b47a6d57f0b!8m2!3d36.5929199!4d-6.2382722!16s%2Fg%2F11h75zs8wl?entry=ttu"
      target="external _blank"
    >
      Calle Crucero Baleares, 31. El Puerto de Santa María.
    </a>
  </h2>
  <button
    class="py-3 px-6 bg-[#2e211c] text-[#f1ece3] text-sm rounded-lg hover:bg-slate-500 transition duration-200 ease-in-out animate-pulsing animate-delay-1000 animate-duration-[2s]"
    style="animation-iteration-count: infinite;"
    aria-label="Llámanos"
    onclick="window.location.href='tel:629830040'">Llámanos</button
  >
  <div class="eslogan pt-10">
    <h2
      class="flex justify-center py-6 font-semibold text-regular md:text-3xl lg:text-4xl text-center"
    >
      ¡Aprovecha! Valoración y presupuesto GRATIS.
    </h2>
    <h3
      class="flex justify-center font-semibold py-2 text-lg sm:text-xl md:text-2xl"
    >
      ¡Disfruta de nuestros servicios!
    </h3>
  </div>
</section>
<style>
  #address:hover {
    color: #738ea0;
  }
</style>
