<nav
  id="navbar"
  class="sticky top-0 pt-4 pb-4 xs:pb-24 h-14 xs:h-20 backdrop-blur-sm z-10 xl:mr-52"
>
  <div class="flex justify-between items-center">
    <img
      src="/logo.webp"
      class="h-16 pl-6 sm:scale-75 md:scale-100 mx-auto"
      alt="logo de la clínica"
    />
    <ul
      class="hidden sm:flex md:text-xl px-5 xs:px-10 space-x-2 sm:space-x-5 md:space-x-10 justify-end font-medium"
    >
      <li><a href="/#inicio" class="text-primary">Inicio</a></li>
      <li><a href="/#servicios" class="text-primary">Servicios</a></li>
      <li><a href="/#equipo" class="text-primary">Equipo</a></li>
      <li><a href="/#galeria" class="text-primary">Galería</a></li>
      <li><a href="/#footer" class="text-primary">Contacto</a></li>
    </ul>
  </div>
</nav>

<style>
  li:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    @media (max-width: 768px) {
      .nav-bar {
        flex-direction: column;
        align-items: center;
      }
      .nav-bar li {
        margin-bottom: 1rem;
      }
    }
  }
  img:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
  }
</style>
