<section id="changes" class="pt-28 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">
    Transform your smile
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img
        src="/SANDRA ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/SANDRA DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div>
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img
        src="/URSUA ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/URSUA DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img
        src="/IVAN ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/IVAN DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div>
    <div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img
        src="/PEPE ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/PEPE DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9]"
    >
      <img
        src="/TEJADA ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/TEJADA DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div><div
      class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg aspect-[16/9] slider-container"
    >
      <img
        src="/INF ANTES.webp"
        alt="Before"
        class="absolute inset-0 w-auto h-auto object-cover before-image"
      />
      <div class="absolute inset-0 w-auto h-auto overflow-hidden">
        <img
          src="/INF DESPUES.webp"
          alt="After"
          class="absolute inset-0 w-auto h-auto object-cover [clip-path:inset(0_50%_0_0)] after-image"
        />
      </div>
      <div
        class="absolute top-0 left-1/2 w-[2px] h-full bg-white z-10 sm:w-[4px] divider"
      >
      </div>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-white rounded-full z-20 sm:w-7 sm:h-7 handle"
      >
      </div>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        class="absolute inset-0 w-auto h-auto opacity-0 cursor-pointer z-30 slider"
        aria-label="Image Comparison"
      />
    </div>
  </div>
</section>

<style>
  #changes {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }
</style>

<script>
  document.querySelectorAll(".slider").forEach((slider) => {
    const container = slider.parentElement;
    const afterImage = container.querySelector(".after-image");
    const divider = container.querySelector(".divider");
    const handle = container.querySelector(".handle");

    slider.addEventListener("input", (e) => {
      const value = e.target.value;
      afterImage.style.clipPath = `inset(0 ${100 - value}% 0 0)`;
      divider.style.left = `${value}%`;
      handle.style.left = `${value}%`;
    });

    slider.addEventListener("touchmove", (e) => {
      const touch = e.touches[0];
      const rect = slider.getBoundingClientRect();
      const value = Math.max(
        0,
        Math.min(100, ((touch.clientX - rect.left) / rect.width) * 100)
      );
      slider.value = value;
      afterImage.style.clipPath = `inset(0 ${100 - value}% 0 0)`;
      divider.style.left = `${value}%`;
      handle.style.left = `${value}%`;
    });
  });
</script>
