<section id="gallery" class="pt-28 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">Gallery</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/sillon.webp"
        decoding="async"
        loading="lazy"
        title="Dentist Chair"
        alt="Dentist Chair"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/sala-de-espera.webp"
        decoding="async"
        loading="lazy"
        title="Waiting Room"
        alt="Waiting Room"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/esterilizacion.webp"
        decoding="async"
        loading="lazy"
        title="Sterilization"
        alt="Sterilization"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/instrumentos.webp"
        decoding="async"
        loading="lazy"
        title="instruments"
        alt="instruments"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/ultrasonido.webp"
        decoding="async"
        loading="lazy"
        title="ultrasonics"
        alt="ultrasonics"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom w-auto h-auto"
        src="/radiografia.webp"
        decoding="async"
        loading="lazy"
        title="X-rays"
        alt="X-rays"
      />
    </div>
  </div>
</section>

<style>
  #gallery {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.2);
  }
</style>
