<section
  id="home"
  class="flex flex-col justify-center items-center min-h-[60vh] py-12 sm:py-16 animate-blurred-fade-in max-w-7xl mx-auto px-4"
>
  <h1
    class="px-4 pt-2 mb-8 font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-primary text-center"
  >
    Your trusted clinic.
  </h1>
  <h2
    id="address"
    class="font-medium text-xs xs:text-base sm:text-xl pb-8 text-gray-600 hover:text-primary transition-colors duration-300"
  >
    <a
      class="hover:underline"
      href="https://www.google.es/maps/place/Dental+Barcelo/@36.5929242,-6.2408471,17z/data=!3m1!4b1!4m6!3m5!1s0xd0dd16a9f2901f3:0xfb198b47a6d57f0b!8m2!3d36.5929199!4d-6.2382722!16s%2Fg%2F11h75zs8wl?entry=ttu"
      target="external _blank"
    >
      Calle Crucero Baleares, 31. El Puerto de Santa María.
    </a>
  </h2>
  <button
    class="py-4 px-8 bg-custom-dark text-custom-light text-base sm:text-lg rounded-lg hover:bg-slate-500 transition-all duration-300 ease-in-out animate-pulsing shadow-lg hover:shadow-xl transform hover:-translate-y-1"
    style="animation-iteration-count: infinite;"
    aria-label="Call us"
    onclick="window.location.href='tel:629830040'">Call us!</button
  >
  <div class="eslogan pt-16 max-w-4xl">
    <h2
      class="flex justify-center py-8 font-semibold text-sm xs:text-xl md:text-3xl lg:text-4xl text-center leading-tight"
    >
      Take advantage! Free evaluation and estimate.
    </h2>
    <h3
      class="flex justify-center font-semibold py-4 text-lg sm:text-xl md:text-2xl text-center"
    >
      Enjoy our services!
    </h3>
  </div>
</section>
<style>
  #address:hover {
    color: #738ea0;
  }
</style>
