<nav
  id="navbar"
  class="sticky top-0 pt-4 pb-4 xs:pb-24 h-14 xs:h-20 backdrop-blur-sm z-10 xl:mr-52"
>
  <div class="flex justify-between items-center">
    <img
      src="/logo.webp"
      class="h-16 pl-6 sm:scale-75 md:scale-100 mx-auto"
      alt="logo de la clínica"
    />
    <ul
      class="hidden sm:flex md:text-xl px-5 xs:px-10 space-x-2 sm:space-x-5 md:space-x-10 justify-end font-medium"
    >
      <li><a href="/#home" class="text-primary">Home</a></li>
      <li><a href="/#services" class="text-primary">Services</a></li>
      <li><a href="/#team" class="text-primary">Team</a></li>
      <li><a href="/#gallery" class="text-primary">Gallery</a></li>
      <li><a href="/#changes" class="text-primary">Changes</a></li>
      <li><a href="/#footer-en" class="text-primary">Contact</a></li>
      <li class="relative">
        <button
          class="text-base leading-5 font-semibold bg-slate-400/10 rounded-full py-2 px-4 flex items-center space-x-2"
          id="language-menu-button"
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
          onclick="document.getElementById('language-menu').classList.toggle('hidden')"
        >
          🇬🇧 ▼
        </button>
        <div
          id="language-menu"
          class="absolute hidden bg-white shadow-lg mt-2 rounded-md"
        >
          <a href="/en" class="block px-4 py-2 text-primary hover:bg-gray-200"
            >🇬🇧</a
          >
          <a href="/" class="block px-4 py-2 text-primary hover:bg-gray-200"
            >🇪🇸</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<style>
  li:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }
  @media (max-width: 768px) {
    .nav-bar {
      flex-direction: column;
      align-items: center;
    }
  }
  img:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
  }
</style>
