<section>
  <div class="grid grid-cols-2 gap-4">
    <div
      class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300 p-4"
      :class="'p-4'"
    >
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="src/components/crew/conchi.webp"
          alt="Dueña y gerente de la clínica"
        />
      </div>
      <div class="">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Conchi López
        </h4>
        <p class="text-sm text-muted-400">Gerente, Auxiliar e higienista</p>
      </div>
    </div>

    <div
      class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300 p-4"
      :class="'p-4'"
    >
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="src/components/crew/dra-ligia.webp"
          alt="Dentista"
        />
      </div>
      <div class="">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dra. Ligia Marcondes
        </h4>
        <p class="text-sm text-muted-400">Dentista</p>
      </div>
    </div>

    <div
      class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300 p-4"
      :class="'p-4'"
    >
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="src/components/crew/dra-tamara.webp"
          alt="Asistente dental"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dra. Tamara Rodríguez
        </h4>
        <p class="text-sm text-muted-400">Asistente dental</p>
      </div>
    </div>

    <div
      class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300 p-4"
      :class="'p-4'"
    >
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="src/components/crew/dra-irene.webp"
          alt="Recepcionista"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dra. Irene Ruiz
        </h4>
        <p class="text-sm text-muted-400">Recepcionista</p>
      </div>
    </div>
  </div>

</section>
