<section>
  <div class="grid grid-cols-4 gap-2">
    <div class="item">
      <div class="">
        <div class="relative rounded-lg overflow-hidden p-2">
          <img
            class="relative mx-auto max-w-[170px] rounded-full zoom"
            src="src/components/crew/conchi.webp"
            alt="Dueña y gerente de la clínica"
          />
        </div>
        <div class="mx-auto text-center">
          <h4 class="font-semibold text-base p-2">Conchi López</h4>
          <p class="text-base text-muted-400">Gerente, Auxiliar e higienista</p>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="">
        <div class="relative rounded-lg overflow-hidden p-2">
          <img
            class="relative mx-auto max-w-[170px] rounded-full zoom"
            src="src/components/crew/dra-ligia.webp"
            alt="Doctora en odontología general y ortodoncia"
          />
        </div>
        <div class="mx-auto text-center">
          <h4 class="font-semibold text-base p-2">Dra. Ligia Marcondes</h4>
          <p class="text-base text-muted-400">Odontología y Ortodoncia</p>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="">
        <div class="relative rounded-lg overflow-hidden p-2">
          <img
            class="relative mx-auto max-w-[170px] rounded-full zoom"
            src="src/components/crew/dra-tamara.webp"
            alt="Doctora en ortodoncia"
          />
        </div>
        <div class="mx-auto text-center">
          <h4 class="font-semibold text-base p-2">Dra. Tamara Rodríguez</h4>
          <p class="text-base text-muted-400">Ortodoncia</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="">
        <div class="relative rounded-lg overflow-hidden p-2">
          <img
            class="relative mx-auto max-w-[170px] rounded-full zoom"
            src="src/components/crew/dra-irene.webp"
            alt="Doctora en implantología y cirugía"
          />
        </div>
        <div class="mx-auto text-center">
          <h4 class="font-semibold text-base p-2">Dra. Irene Ruiz</h4>
          <p class="text-base text-muted-400">Implantología y cirugía</p>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .item {
    position: relative;
    padding: 60px 0px;
    border-radius: 8px;
  }
  .zoom {
    transition: all 0.3s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
