<footer class="bg-gray-800 text-white">
  <div class="container mx-auto py-8 px-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h2 class="text-lg font-bold mb-4">Redes Sociales</h2>
        <p>aquí iria un logo de IG</p>
        <p>aquí iria un logo de FB</p>
      </div>
      <div>
        <h2 class="text-lg font-bold mb-4">Información de Contacto</h2>
        <p>Teléfono: 629830040</p>
        <p>Email: dentalbarcelo@gmail.com</p>
        <p>Dirección: Calle Crucero Baleares 31, El Puerto de Santa María</p>
      </div>
    </div>
  </div>
  <div class="bg-gray-900 py-4">
    <div class="container mx-auto text-center">
      <p class="text-sm text-gray-400 hover:text-white">
        &copy; 2024 Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>
