<section class="flex flex-col justify-center items-center pb-12">
  <h1 class="px-2 pt-1 mb-6 font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl">Tu clínica de confianza.</h1>
  <h3 class="font-medium text-sm sm:text-xl pb-6 text-gray-500">
    <a
      class="hover:underline"
      href="https://www.google.es/maps/place/Dental+Barcelo/@36.5929242,-6.2408471,17z/data=!3m1!4b1!4m6!3m5!1s0xd0dd16a9f2901f3:0xfb198b47a6d57f0b!8m2!3d36.5929199!4d-6.2382722!16s%2Fg%2F11h75zs8wl?entry=ttu"
      target="_blank"
    >
      Calle Crucero Baleares, 31. El Puerto de Santa María.
    </a>
  </h3>
  <button
    class="py-3 px-6 bg-black text-white text-sm rounded-lg hover:bg-gray-800 transition duration-200 ease-in-out"
    onclick="window.location.href='tel:629830040'">Llámanos</button
  >
</section

