<section class="flex flex-col justify-center items-center">
  <h1 class="uppercase px-2 py-1 mb-9 font-medium text-4xl">Bienvenido a DENTAL BARCELO</h1>
  <h3 class="uppercase font-medium text-xl">Especialistas en hacerte sonreír</h3>
</section>