
<nav class="pb-32">
  <ul class="flex space-x-10 justify-end font-medium">
    <li><a href="#" class="text-primary">Inicio</a></li>
    <li><a href="#servicios" class="text-primary">Servicios</a></li>
    <li><a href="#" class="text-primary">Equipo</a></li>
    <li><a href="#" class="text-primary">Galería</a></li>
    <li><a href="#" class="text-primary">Precios</a></li>
    <li><a href="#" class="text-primary">Contacto</a></li>
  </ul>
</nav>
