---

---

<nav class="py-10">
  <ul class="flex justify-center space-x-10">
    <li><a href="#" class="text-primary">Inicio</a></li>
    <li><a href="#" class="text-primary">Servicios</a></li>
    <li><a href="#" class="text-primary">Equipo</a></li>
    <li><a href="#" class="text-primary">Contacto</a></li>
    <li><a href="#" class="text-primary">Galería</a></li>
    <li><a href="#" class="text-primary">Precios</a></li>
  </ul>
</nav>
