<section>
  <h2 class="flex justify-center py-6 font-semibold text-lg md:text-xl lg:text-3xl text-center">
    ¡Aprovecha! Valoración y presupuesto GRATIS y sin compromiso
  </h2>
  <h2 class="flex justify-center font-semibold py-2 text-regular sm:text-xl md:text-2xl">
    Disfruta de nuestros servicios
  </h2>
  <div class="servicios-grid grid grid-cols-2 md:grid-cols-3">
    <div class="servicio">
      <h4>Odontología General</h4>
      <p></p>
      <p>Periodoncia</p>
      <p>Rehabilitación de prótesis completas</p>
    </div>
    <div class="servicio">
      <h4>Ortodoncia</h4>
      <p>Brackets convencionales</p>
      <p>Brackets Autoligados</p>
      <p>Invisalign</p>
    </div>
    <div class="servicio">
      <h4>Implantología</h4>
      <p>Implantes completos</p>
      <p>Prótesis sobre implantes</p>
      <p></p>
    </div>
    <div class="servicio">
      <h4>Cirugía</h4>
      <p>Extracciones de terceros molares</p>
      <p>Injerto de hueso</p>
      <p>Levantamiento de seno</p>
    </div>
    <div class="servicio">
      <h4>Estética</h4>
      <p>Blanqueamientos</p>
      <p>Ácido Hialurónico</p>
      <p>Estética dental</p>
    </div>
    <div class="servicio">
      <h4></h4>
      <p></p>
    </div>
  </div>
</section>

<style>
  .servicios-grid {
    gap: 20px;
    padding: 20px;
  }

  .servicio {
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    box-shadow: -10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    color: #585858;
  }
</style>
