<section>
  <h2
    class="flex justify-center py-6 font-semibold text-lg md:text-xl lg:text-3xl text-center"
  >
    ¡Aprovecha! Valoración y presupuesto GRATIS y sin compromiso
  </h2>
  <h2
    class="flex justify-center font-semibold py-2 text-regular sm:text-xl md:text-2xl"
  >
    Disfruta de nuestros servicios
  </h2>
  <div class="servicios-grid grid grid-cols-2 md:grid-cols-3">
    <div class="servicio">
      <h4>Odontología General</h4>
      <ul>
        <li>Periodoncia</li>
        <li>Rehabilitación de prótesis completas</li>
      </ul>
    </div>
    <div class="servicio">
      <h4>Ortodoncia</h4>
      <ul>
        <li>Brackets convencionales</li>
        <li>Brackets Autoligados</li>
        <li>
          <a target="_blank" rel="noopener" href="https://www.quicksmile.es"
            >Invisalign / QuickSmile</a>
        </li>
      </ul>
    </div>
    <div class="servicio">
      <h4>Implantología</h4>
      <ul>
        <li>Implantes completos</li>
        <li>Prótesis sobre implantes</li>
        <li></li>
      </ul>
    </div>
    <div class="servicio">
      <h4>Cirugía</h4>
      <ul>
        <li>Extracciones de terceros molares</li>
        <li>Injerto de hueso</li>
        <li>Levantamiento de seno</li>
      </ul>
    </div>
    <div class="servicio">
      <h4>Estética</h4>
      <ul>
        <li>Blanqueamientos</li>
        <li>Ácido Hialurónico</li>
        <li>Estética dental</li>
      </ul>
    </div>
    <div class="servicio">
      <h4></h4>
      <p></p>
    </div>
  </div>
</section>

<style>
  .servicios-grid {
    gap: 20px;
    padding: 20px;
  }

  .servicio {
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    box-shadow: -10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  li {
    font-size: 16px;
    color: #585858;
    list-style-type: disc;
    margin-left: 20px;
  }
  li:hover {
    text-decoration: underline;
    mouse: pointer;
  }
</style>
