<section>
  <div class="servicios-grid">
    <div class="servicio">
      <h3>Odontología General</h3>
      <p>Limpiezas, curetajes, revisiones, caries...</p>
    </div>
    <div class="servicio">
      <h3>Ortodoncia</h3>
      <p>Brackets, Ortodoncia Invisible, .</p>
    </div>
    <div class="servicio">
      <h3>Implantología</h3>
      <p>Implantes</p>
    </div>
    <div class="servicio">
      <h3>Cirugía</h3>
      <p>Extracciones de terceros molares, hueso, frenectomía</p>
    </div>
    <div class="servicio">
      <h3>Servicio 5</h3>
      <p>Descripción del servicio 5.</p>
    </div>
    <div class="servicio">
      <h3>Servicio 6</h3>
      <p>Descripción del servicio 6.</p>
    </div>
  </div>
</section>

<style>

  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .servicio {
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    box-shadow: -10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;

  }
  p {
    font-size: 16px;
    padding: 10px 0px;
    color: #585858;
  }
</style>
