---

---


  <section class="servicios">
    <!--<h2>Nuestros servicios bucodentales</h2>
    <p>¡Descubre los servicios que ofrecemos para cuidar tu salud bucal!</p> -->
    <div class="servicios-grid">
      <div class="servicio">
        <h3>Odontología General</h3>
        <p>Limpiezas, curetajes, revisiones, caries...</p>
      </div>
      <div class="servicio">
        <h3>Ortodoncia</h3>
        <p>Brackets, Ortodoncia Invisible, .</p>
      </div>
      <div class="servicio">
        <h3>Implantología</h3>
        <p>Implantes </p>
      </div>
      <div class="servicio">
        <h3>Cirugía</h3>
        <p>Extracciones de terceros molares, hueso, frenectomía</p>
      </div>
      <div class="servicio">
        <h3>Servicio 5</h3>
        <p>Descripción del servicio 5.</p>
      </div>
      <div class="servicio">
        <h3>Servicio 6</h3>
        <p>Descripción del servicio 6.</p>
      </div>
    </div>
  </section>

<style>
  .servicios {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .servicios-grid {
    /* Estilos para el grid de servicios */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .servicio {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 20px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
</style>