---
import "@fontsource-variable/montserrat";
import SpeedInsights from "@vercel/speed-insights/astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web de la Clínica Dental Barcelo, Dentistas y Ortodoncistas en El Puerto de Santa María"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto min-h-screen max-w-6xl md:max-w-full">
      <slot />
    </div>
    <SpeedInsights />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #2e211c;
    --color-secondary: #574137;
    --color-accent: #738ea0;
    --background-color: #f1ece3;
  }
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    scrollbar-gutter: stable;
    background-color: var(--background-color);
  }
  body {
    color: var(--color-primary);
  }
</style>
